/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  :root {
    --primary-color: #2d9cdb;
    --secondary-color: #56ccf2;
    --background-color: #f0f4f8;
    --text-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --input-focus-color: #2d9cdb;
    --card-background: #ffffff;
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  body {
    background: url("https://source.unsplash.com/random/1920x1080") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 20px;
  }
  
  .wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
    font-weight: 600;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s;
    font-size: 14px;
  }
  
  input:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 8px rgba(45, 156, 219, 0.5);
  }
  
  button {
    width: 100%;
    padding: 12px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .button-group button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-group button:hover {
    background-color: var(--primary-color);
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  p a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  p a:hover {
    color: var(--secondary-color);
  }
  
  #accountAddress, #seedPhraseDisplay {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--card-shadow);
  }
  
  #accountAddress h3, #seedPhraseDisplay h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  
  #accountAddress p, #seedPhraseDisplay p {
    word-break: break-word;
    font-size: 14px;
    color: var(--text-color);
  }
  