.restore-account-page {

  background-size: cover;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

input[type="password"], input[type="text"] {
  text-align: center;
  font-size: 16px;
}
